<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sentiment Analysis Using Flask</title>
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="{{url_for('static', filename='images/favicon/sentiment.png')}}">
    <!-- Bootstrap CDN CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Static CSS -->
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/styles.css')}}">
</head>

<body>
    <!-- The main form section -->
    <main class="analysis-input-box">
        <h1>FIND THE <span class="sentiment-text">SENTIMENT</span><br />FROM YOUR INPUT.</h1>
        <form method="post" action="/">
            <!-- Choose Prompt Option -->
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <div class="prompt-buttons">
                    <button type="button" id="btn-prompt-text" class="btn btn-dark">Text</button>
                    <button type="button" id="btn-prompt-url" class="btn btn-dark">URL</button>
                    <button type="button" id="btn-prompt-media" class="btn btn-dark">Media</button>
                </div>
            </div>

            <!-- Prompt Input -->
            <div class="form-group">
                <!-- Enter Text Input -->
                <div id="div-textarea">
                    <label for="form-input-textarea" class="form-label">Input Prompt:</label>
                    <textarea id="form-input-textarea" class="form-control" name="form-textarea"
                        placeholder="Hello World! It's nice to meet you."></textarea>
                </div>
                <!-- Enter URL Input -->
                <div id="div-url">
                    <label for="form-input-url" class="form-label">Input URL:</label>
                    <input type="text" id="form-input-url" class="form-control" name="form-url"
                        placeholder="https://www.edwinrlambert.com" />
                </div>
                <!-- Enter Media Input -->
                <div id="div-media">
                    <label for="form-input-media" class="form-label">Choose Media:</label>
                    <input type="file" id="form-input-media" class="form-control" name="form-media" />
                </div>
                <!-- Submit Button -->
                <div class="submit-button">
                    <input type="submit" id="btn-find-sentiment" class="btn btn-success" value="Find Sentiment" />
                </div>
            </div>
        </form>
    </main>

    <!-- The overlay results section -->
    <div id="sentiment-overlay">
        <div id="sentiment-overlay-content"></div>
    </div>

    <!-- Bootstrap CDN JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="{{url_for('static', filename='scripts/scripts.js')}}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</body>

</html>